body {
    font-family: "Modenine", monospace;
    background-size: cover;

    
    background-color: #141316;
}
body{background-image: url(./background.jpg);transition:background 1s ease 0s;color: #fff;}
button{background:rgba(255,255,255,0.3);border-radius:10px;border:1px solid #FFF;padding:10px;color:#ffffff;cursor:pointer;font-weight:bold;margin:25px;box-shadow:2px 2px 2px rgba(0,0,0,0.3);text-shadow:1px 1px 1px rgba(0,0,0,0.3)}
.second-image{background-image: url(./background2.jpg) !important;color: #000000; }



.main{
    width: 90%;
    max-width: 500px;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
    border: 4px solid;
    border-radius: 10px;
    border-color: #ffffff;
}
.main1{
    width: 90%;
    max-width: 500px;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
    border: 4px solid;
    border-radius: 10px; 
    border-color: #000000 !important;
}
h1{
    font-family: "Modenine", monospace;

  }
.woman {
    width: 30%;
    height: auto;
    display: block;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;

}



h1 {
    text-align: center;
}
p{
    text-align: center;
    font-family: "Modenine", monospace;
 
}
.hidden-if-no-js {
    display: none;
}





.player {
    height: 104px;
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: 1.5em;
}
  
.cover-container {
    max-width: 100px;
    flex: 1;
}
 
.player-info {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-grow: 1;
    width: calc(100% - 120px);
    float: left;
    margin-left: 20px;
    height: 100%;
    margin-top: 0px;
}
  

.player-cover {
    width: 80px;
    border: 2px solid #fff;
}

#cover {
    width: 100px;
    border: 2px solid #fff;
    display: inline-block;
}
  
.player-label {
    font-family: "Modenine", monospace;

  
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-label {
    font-family: "Modenine", monospace;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    opacity: 1;
    padding-bottom: 8px;
  }
  
.title-label {
    font-family: "Modenine", monospace;

    font-size: 15px;
    height: 20px;
    line-height: 20px;
}
  
.artist-label {
    font-family: "Modenine", monospace;

    font-size: 15px;
    height: 20px;
    line-height: 20px;
    padding-top: 4px;
    padding-bottom: 6px;
}
  
.album-label {
    font-family: "Modenine", monospace;

    font-size: 10px;
    height: 16px;
    line-height: 16px;
}
.source-label{
    font-family: "Modenine", monospace;
    margin-top: 500px;
}
figcaption{
    font-family: "Modenine", monospace;
    margin-bottom: 20px;
}

.socials-container {
    text-align: center;
    
    -webkit-filter: invert(1);
    filter: invert(0);

}
.socials-container1 {
    -webkit-filter: invert(1);
    filter: invert(1) !important;

}
.socials-container a {
    display: inline-block;
}

.icon,

.icon img {
    width: 50px;
    height: 50px;
    text-decoration: none;

}

.icon12 img {
    width: 50px;
    height: 50px;
    text-decoration: none;

}
.icon1 img {
    width: 40px;
    height: 40px;
    position: relative;

    bottom: 5px;
    text-decoration: none;
}

.icon {
    margin-left: 5px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.icon3 img {
    width: 50px;
    height: 40px;
    position: relative;

    bottom: 10px;
    text-decoration: none;
}

.icon3 {
    margin-left: 5px;
    margin-right: 0;
    margin-top: 3px;
    margin-bottom: 0;
}
.icon1 {

    margin-left: 5px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0px;
}
.icon12 {

    margin-left: 5px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0px;
}
audio::-webkit-media-controls-panel{
    background-color:black;
}
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-timeline-container,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-volume-slider{
    color: white;
}
.icon21 img {
    width: 55px;
    height: 55px;
    text-decoration: none;

}

.icon21 {
    margin-left: 5px;
    margin-right: 0;
    margin-top: 10;
    margin-bottom: 0;
}