body {
    font-family: "Modenine", monospace;
    color: #fff;
    background-color: #000000;
}

.main {
    width: 90%;
    max-width: 500px;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
    border: 4px solid;
    border-radius: 10px;
    border-color: #fff;
}

.woman {
    width: 30%;
    height: auto;
    display: block;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;

}



h1 {
    text-align: center;
}
p{
    text-align: center;
 
}
.hidden-if-no-js {
    display: none;
}





.player {
    height: 104px;
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: 1.5em;
}
  
.cover-container {
    max-width: 100px;
    flex: 1;
}
 
.player-info {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-grow: 1;
    width: calc(100% - 120px);
    float: left;
    margin-left: 20px;
    height: 100%;
    margin-top: 0px;
}
  

.player-cover {
    width: 80px;
    border: 2px solid #fff;
}

#cover {
    width: 100px;
    border: 2px solid #fff;
    display: inline-block;
}
  
.player-label {
    font-family: 'PT Mono', monospace;
    color: #fff;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-label {
    font-family: 'PT Mono', monospace;
    font-size: 13px;
    height: 16px;
    line-height: 16px;
    opacity: 0.6;
    padding-bottom: 8px;
  }
  
.title-label {
    font-size: 20px;
    height: 20px;
    line-height: 20px;
}
  
.artist-label {
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    padding-top: 4px;
    padding-bottom: 6px;
}
  
.album-label {
    font-family: 'PT Mono', monospace;
    font-size: 13px;
    height: 16px;
    line-height: 16px;
}
.source-label{
    margin-top: 500px;
}
figcaption{
    margin-bottom: 20px;
}

.socials-container {
    text-align: center;
}
.socials-container a {
    display: inline-block;
}

.icon,
.icon img {
    width: 65px;
    height: 50px;
    text-decoration: none;
}

.icon1 img {
    width: 50px;
    height: 50px;
    text-decoration: none;
}

.icon {
    margin-left: 5px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.icon1 {
    margin-left: 5px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0px;
}

audio::-webkit-media-controls-panel{
    background-color:black;
}
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-timeline-container,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-volume-slider{
    color: white;
}
.icon21 img {
    width: 55px;
    height: 55px;
    text-decoration: none;

}

.icon21 {
    margin-left: 5px;
    margin-right: 0;
    margin-top: 10;
    margin-bottom: 0;
}